@font-face {
	font-family: Minecraft;
	src: url("files/fonts/minecraft.ttf");
}
.navBarHeader {
	text-align: center;
}
body {
	background-image: url("files/images/background.jpeg");
	background-repeat: no-repeat;
	background-position: center center;
}
.headerImage {
	text-align: center;
}
#header {
	font-size: 96px;
	font-family: Minecraft;
	color: #fff;
	margin-top: 50px;
}
.headerButton {
	text-align: center;
	background-color: #aaa;
	color: #fff;
	font-family: Minecraft;
	padding: 10px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	border: none;
	font-size: 24px;
}
.headerButton:hover {
	background-color: #999;
}
#thisPage {
	background-color: #00aaff;
}
#thisPage:hover {
	background-color: #0099ff;
}
.body {
	font-family: Minecraft;
	
}
.standardHeader {
	font-family: Minecraft;
	margin-left: 100px;
	margin-top: 50px;
	color: #fff;
}
.downloadButton {
	border-color: #fff;
	background-color: #000;
	color: #fff;
	font-family: Minecraft;
	padding: 10px;
	margin-top: 10px;
	font-size: 24px;
}
.standardParagraph {
	color: #fff;
	font-family: Minecraft;
	margin-left: 100px;
	margin-top: 50px;
}
.downloadButton:hover {
	color: #000;
	background-color: #fff;
	border-color: #000;
}